
@model WebAdvert.Web.Models.Accounts.LoginModel;

<div class="row">
    <div class="col-md-4">
        <h4>Login using your Email and Password</h4>
        <h5>If you are not a member you can Signup <a asp-controller="Accounts" asp-action="Signup">here</a>></h5>
        <hr />

        <form method="post" asp-controller="Accounts" asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" autocomplete="on"/>
                <span asp-validation-for="Email" class="text-danger" autocomplete="off"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                </div>
            </div>

            <button type="submit" class="btn btn-dark" value="Login">Login</button>
        </form>

    </div>
</div>

